---
import Layout from '../../layouts/main.astro'
import TextBox from '../../components/Textbox.astro'
import * as db from '../../db/db.ts'

const { id } = Astro.params

const contact = await db.getContactById(id)

if (Astro.request.method === 'PUT') {
  const id = Astro.params.id
  const data = await Astro.request.formData()
  const name = data.get('name')
  const email = data.get('email')
  const phone = data.get('phone')

  await db.updateContact({ id, name, email, phone })
  return Astro.redirect('/', 301)
}
---

<Layout title="Editing">
  <main
    class="relative top-1/2 translate-y-1/2 mx-auto flex flex-col items-center justify-center align-middle"
  >
    <form
      class="flex flex-col gap-2 w-1/5"
      action={`/edit/${id}`}
      method="PUT"
      hx-boost="true"
      hx-indictaor="#spinner"
    >
      <legend class="text-xl font-medium tracking-wider">Edit form</legend>
      <div class="flex flex-col">
        <label for="name" class="flex gap-2 items-center">
          Name
          <i class="fa-solid fa-check text-green-600"></i>
        </label>
        <TextBox
          type="text"
          id="name"
          name="name"
          placeholder="Name"
          autocomplete="off"
          autofocus
          hx-get="/exists"
          hx-trigger="keyup changed delay:500ms"
          value={contact.name || ''}
        />
      </div>
      <div class="flex flex-col">
        <label for="email">Email</label>
        <TextBox
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          autocomplete="off"
          value={contact.email || ''}
        />
      </div>
      <div class="flex flex-col">
        <label for="phone">Phone</label>
        <TextBox
          type="tel"
          id="phone"
          name="phone"
          placeholder="Phone"
          autocomplete="off"
          value={contact.phone || ''}
        />
      </div>
      <div class="place-self-end mt-10">
        <a
          href="/"
          class="bg-slate-500 hover:bg-slate-400 text-white font-bold py-2 px-4 rounded"
          >Back</a
        >
        <button
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >
          <i id="#spinner" class="fa-solid fa-spinner fa-spin htmx-indicator"
          ></i>
          <span class="mr-2">Save</span>
        </button>
      </div>
    </form>
  </main>
</Layout>
